/* Training */

.training-inroduction {
    width: 100%;
    height: 635px;
}

.training-inroduction__wrapper {
    padding-top: 105px;

    div {
        max-width: 740px;
    }

    .main_caption {
        text-align: left;
        margin-bottom: 65px;
    }

    h4 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 800;
        color: #42516a;
        margin-bottom: 20px;
    }

    .decor-line {
        display: flex;
        width: 50px;
        height: 5px;
        background-color: #37c114;
    }

    p {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        color: #626a79;
        margin-top: 20px;

        span {
            background: -moz-linear-gradient(74deg, #0080e2 0%, #3dc800 100%);
            background: -webkit-linear-gradient(74deg, #0080e2 0%, #3dc800 100%);
            background: -ms-linear-gradient(74deg, #0080e2 0%, #3dc800 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.training-info__wrapper {
    padding-top: 100px;

    .main_caption {
        font-size: 56px;
        line-height: 70px;
    }
}

.trainung-info__education {
    margin-bottom: 90px;
}

.trainung-info__education_list {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.trainung-info__education_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;

    &:last-child {
        margin-right: 0px;
    }

    .logo {
        width: 100px;
        height: 140px;
        background-size: cover;
        margin-bottom: 25px;
    }

    span {
        display: block;
        width: 16px;
        height: 13px;
        transform: rotate(90deg);

        &::before {
            color: #42516a;
        }
    }

    .text {
        margin-top: 20px;
        color: #626a79;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
}

.trainung-info__topics {
    h6 {
        color: #626a79;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}

.trainung-info__topics_list {
    margin: 40px 0px 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #42516a;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-left: 20px;
}

.trainung-info__topics_item {
    width: 520px;
    padding: 25px 0px;
    border-top: 1px solid #e4e9f2;

    &:first-child {
        padding: 0px 0px 25px;
        border: none;

        + .trainung-info__topics_item {
            padding: 0px 0px 25px;
            border: none;
        }
    }

    p {
        position: relative;
    }

    span {
        position: absolute;
        left: -20px;
        top: 5px;
    }
}


.trainung-info__structure {
    margin-top: 130px;
}

.trainung-info__structure_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 25px;
}

.trainung-info__structure_item {
    display: flex;
    justify-content: space-between;
    width: 550px;
    height: 170px;
    margin-bottom: 80px;

    .info {
        width: 365px;
    }

    &:first-child {
        align-self: flex-start;
    }

    &:last-child {
        align-self: flex-start;
        margin-bottom: 0px;
    }

    .decor-number {
        width: 145px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid #dfecf0;
        position: relative;

        span {
            font-size: 100px;
            font-weight: 900;
            color: #fff;
            position: absolute;
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        }
    }

    h4 {
        display: flex;
        align-items: center;
        color: #42516a;
        font-size: 32px;
        height: 70px;
        margin-bottom: 5px;
        font-weight: normal;
    }

    .decor-line {
        display: flex;
        width: 50px;
        height: 5px;
        background-color: #37c114;
    }

    p {
        color: #788190;
        font-size: 16px;
        margin-top: 15px;
    }

    .more {
        color: #788190;
        font-size: 16px;
        font-weight: 600;
    }
}

.trainung-info__portfolio {
    margin: 100px 0px 150px;
}

.callback-training__wrapper {
    padding: 100px 0 65px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .input__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    .input-name {
        margin-bottom: 5px;
        margin-left: 30px;
        color: #42516a;
        font-size: 12px;
    }

    .callback_form {
        max-width: 740px;
        margin-top: 25px;
    }

    .main-input {
        width: 340px;
    }

    .textarea__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        .main-input {
            width: 340px;
            height: 80px;
        }
    }

    .callback_info {
        max-width: 340px;
    }
}

.callback-training__header {
    max-width: 740px;

    .main_caption {
        text-align: left;
        font-size: 65px;
    }

    p {
        color: #42516a;
        font-size: 18px;
        margin-top: 15px;
    }
}